@media screen and (max-width: 768px) {
	/* section {
		flex-direction: column;
		padding: 2rem 0;
		width: 100%;
	}

	.contact-container {
		flex-direction: column;
		gap: 2rem;
	} */

	* {
		flex-direction: column;
	}

	body {
		font-family: 'Open Sans', sans-serif;
		padding: 1rem;
	}

	.profile-img {
		max-width: 360px;
	}

	h1 {
		font-family: 'Open Sans', sans-serif;
		font-size: 50px;
		font-weight: 600;
		line-height: 90px;
		letter-spacing: 0em;
		text-align: left;
		white-space: nowrap;
	}

	.hero {
		height: 350px;
	}

	.hire-link {
		font-size: 28px;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		margin: 1rem 0;
	}

	hr {
		margin: 0;
	}

	#tagline {
		font-size: 40px;
		font-weight: 300;
		line-height: 83px;
		letter-spacing: 0em;
		text-align: left;
		overflow: hidden;
	}

	.about-text-top.lead {
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
	}

	.about-text {
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 300;
		line-height: 23px;
		letter-spacing: 0em;
		text-align: left;
	}

	h2 {
		font-size: 40px;
		font-weight: 400;
		line-height: 50px;
		letter-spacing: 0em;
		text-align: left;
		margin: 1rem 0;
	}

	p {
		margin: 1rem 0;
	}

	.project-headers-container,
	.project-titles-container {
		flex-direction: row !important;
	}

	h3 {
		font-size: 20px;
		font-weight: 300;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;
	}

	h4 {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
	}

	.hr-4 {
		margin: 1rem 0;
	}

	.h4-wrap {
		white-space: nowrap;
	}

	.project-link {
		width: 16.67px;
		height: 16px;
	}

	.form-h3 {
		font-size: 32px;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
	}

	form {
		margin-top: 0 !important;
	}

	.form-top-row {
		gap: 0 !important;
	}

	.contact-guitar-img {
		display: none;
	}

	.contact-links {
		display: block !important;
	}

	.contact-link {
		font-size: 20px;
		font-weight: 600;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;
		padding: 0 !important;
		margin: 2px 10px !important;
	}

	.btn {
		width: 100%;
		margin: 0 auto;
	}

	/* input[type='text'],
	input[type='email'],
	textarea {
		max-width: 100% !important;
		padding: 1rem !important;
		font-size: 20px !important;
	} */
}
