/* Hero Section */

/* .profile-img-container {
	flex: 4;
} */

.profile-img {
	max-width: fit-content;
	/* max-width: 100%; */
}

/* .about-text-container {
	flex: 6;
} */

/* About Section */

.about-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 2rem;
}

.about-text-top {
	margin-top: 0;
}

#hire-link-container {
	margin: 0;
}

#hire-link {
	font-variant: small-caps;
}

/* Projects Section */

.project-headers-container {
	display: flex;
}

.project-header {
	flex: 6;
}

.project-titles-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

/* Contact Section */

.contact-me-title {
	margin-top: 3.75rem;
}

.contact-container {
	display: flex;
	justify-content: space-between;
}

.contact-text-container,
.contact-img-container {
	display: flex;
	flex-direction: column;
}

.contact-text-container .lead {
	margin: 0;
}

.contact-text-container .form-h3 {
	margin-top: 1rem;
}

.contact-guitar-img {
	max-width: 514px;
}

.contact-links {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.contact-link {
	letter-spacing: normal;
	line-height: normal;
	text-decoration: none;
	border-bottom: 2px solid var(--pink);
	padding: 2px 10px;
}
